{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "singleQuote": true,
  "quoteProps": "as-needed",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "trailingComma": "es5",
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "endOfLine": "lf",
  "embeddedLanguageFormatting": "auto",
  "singleAttributePerLine": false,
  "overrides": [
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx"],
      "options": {
        "parser": "babel"
      }
    },
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "parser": "json"
      }
    },
    {
      "files": ["*.css", "*.scss", "*.sass"],
      "options": {
        "parser": "css"
      }
    },
    {
      "files": ["*.md", "*.markdown"],
      "options": {
        "parser": "markdown"
      }
    },
    {
      "files": ["*.yaml", "*.yml"],
      "options": {
        "parser": "yaml"
      }
    }
  ]
}